section(class="apprenticships py-5")
 .container 
  .apprenticships__container.col-lg-8.col-12.mx-auto
   .col-lg-7.col-12.mb-3
    h2(class="text-blue-48-bold apprenticships__mainheading lh-1 mb-0") Apprenticeships &amp; Work Experience
   .row.align-items-center.mt-1
    .col-lg-8.col-12.my-lg-0.my-3
     p(class="text-navy-16-reg lh-s3") At TF Jones, we know the value in offering apprenticeships and work experience opportunities. In your chosen area you can gain a recognised qualification whilst working on-the-job, and the best bit, you'll get paid to do it!
    .col.offset-lg-1
     a(href="#" class="learnMoreBtn color-tfNavy border-navy") Get In Touch
