section(class="join-us-heading")
 div(class="hero-serivces__container container")
  .col-lg-10.mx-auto.col-12
   div(class="hero-serivces__container--title position-relative px-md-3 px-0")
    .row.align-items-center.justify-content-lg-center
     .col-lg-4.d-flex.col-12
      h2(class="text-blue-48-bold position-relative serviceWord w-100 text-lg-end") Join Us
     .d-flex.justify-content-center.d-lg-flex.d-none.p-0.hero-serivces__containerVertical
      span(class="hero-serivces__verticalLine d-block p-0")
     .col-lg-7.col-md-8.col-sm-9.col-12.m-lg-0.mt-2.mt-xl-0
      p(class="tfBluecolor  size-16 f-700 lh-s3 ") We believe that working in partnership, doing the right thing and offering meaningful employment makes us the employer of choice.

