section(class=`bg-navy mb-5 team-contact  ${className} mt-5`)
    .container.py-5 
     .col-lg-10.mx-auto.col-12
        .row.justify-content-around.align-items-center
            .col-lg-6.col-12.mb-lg-0.mb-3
                h3(class="mb-md-1 text-white-semi-bold-28") Visit our Indeed page to viewcurrent vacancies and to apply
            .col-lg-6.d-flex.justify-content-lg-end.col-12
                a(class="learnMoreBtn  text-white border-white bg-white-navy-hover" href="#") View Vacancies