// DIRECTIONS
.projects.green
  .projects__map
    .projects__overlay
      .container
        .row.no-gutters
          .col-12.col-lg-6
            .projects__info.js-stick-to-window(data-position="left" data-keep-container="true" data-stop="<768")
              .row.g-0
                .col-12
                  h1.mt-2.display-4 Discover our flexible generation and multiple grid stability projects around the UK…

    .projects__map-container.projects__map-container--collumned
      iframe(src='https://snazzymaps.com/embed/335637' width='100%' height='100%' style='border:none;')

