section.projects.mt-1
    .container.pt-5.pb-4
     .row
      .col-12 
         div.title-strip.red
          span.pb-2.d-block
          h2.mb-1 Discover our projects
            a.btn.btn-outline-danger.btn-sm.float-end(href="#") View All

      .col-12.col-sm-6.col-md-4
        // case card
        a(href="#").news-card
          .case-card__image
            img(src="img/projects/cadoxton-th.png" srcset="img/projects/cadoxton-th.png 2x")
          .case-card__content
            .case-card__name <strong>Cadoxton</strong>
            .case-card__cta Read More
      .col-12.col-sm-6.col-md-4
        // case card
        div.news-card.empty
          .case-card__image
            img(src="img/projects/clyne-th.png" srcset="img/projects/clyne-th.png 2x")
          .case-card__content
            .case-card__name <strong>Clyne</strong>
            
      .col-12.col-sm-6.col-md-4
        // case card
        a(href="#").news-card
          .case-card__image
            img(src="img/projects/clyne-th.png" srcset="img/projects/clyne-th.png 2x")
          .case-card__content
            .case-card__name <strong>Clyne</strong>
            .case-card__cta Read More
      .col-12.col-sm-6.col-md-4
        // case card
        a(href="#").news-card
          .case-card__image
            img(src="img/projects/cynon-th.png" srcset="img/projects/cynon-th.png 2x")
          .case-card__content
            .case-card__name <strong>Cynon</strong>
            .case-card__cta Read More
      .col-12.col-sm-6.col-md-4
        // case card
        a(href="#").news-card
          .case-card__image
            img(src="img/projects/dafen-reserve-th.png" srcset="img/projects/dafen-reserve-th.png 2x")
          .case-card__content
            .case-card__name <strong>Dafen Reserve</strong>
            .case-card__cta Read More
      .col-12.col-sm-6.col-md-4
        // case card
        a(href="#").news-card
          .case-card__image
            img(src="img/projects/larigan-th.png" srcset="img/projects/larigan-th.png 2x")
          .case-card__content
            .case-card__name <strong>Larigan</strong>
            .case-card__cta Read More
      .col-12.col-sm-6.col-md-4
        // case card
        a(href="#").news-card
          .case-card__image
            img(src="img/projects/nevern-th.png" srcset="img/projects/nevern-th.png 2x")
          .case-card__content
            .case-card__name <strong>Nevern</strong>
            .case-card__cta Read More
    
      .col-12.col-sm-6.col-md-4
        // case card
        a(href="#").news-card
          .case-card__image
            img(src="img/projects/ogmore-th.png" srcset="img/projects/ogmore-th.png 2x")
          .case-card__content
            .case-card__name <strong>Ogmore</strong>
            .case-card__cta Read More
    
      .col-12.col-sm-6.col-md-4
        // case card
        a(href="#").news-card
          .case-card__image
            img(src="img/projects/tillingham-th.png" srcset="img/projects/tillingham-th.png 2x")
          .case-card__content
            .case-card__name <strong>Tillingham</strong>
            .case-card__cta Read More
    