section.projects.mt-1
    .container.pt-5.pb-4
     .row
      .col-12 
         div.title-strip.red
          span.pb-2.d-block
          h2.mb-1 Discover our projects
            a.btn.btn-outline-danger.btn-sm.float-end(href="#") View All

      .col-12.col-sm-6.col-md-4
        // case card
        a(href="#").news-card
          .case-card__image
            img(src="img/projects/cadoxton-th.png" srcset="img/projects/cadoxton-th.png 2x")
          .case-card__content
            .case-card__name <strong>Cadoxton</strong> <br/>Sit ut amet sit et erat amet justo, amet est et gubergren at amet ut ut erat ut, erat eos.
            .case-card__cta Read More
      .col-12.col-sm-6.col-md-4
        // case card
        a(href="#").news-card
          .case-card__image
            img(src="img/projects/clyne-th.png" srcset="img/projects/clyne-th.png 2x")
          .case-card__content
            .case-card__name <strong>Clyne</strong> <br/>Sit ut amet sit et erat amet justo, amet est et gubergren at amet ut ut erat ut, erat eos.
            .case-card__cta Read More
      .col-12.col-sm-6.col-md-4
        // case card
        a(href="#").news-card
          .case-card__image
            img(src="img/projects/cynon-th.png" srcset="img/projects/cynon-th.png 2x")
          .case-card__content
            .case-card__name <strong>Cynon</strong> <br/>Sit ut amet sit et erat amet justo, amet est et gubergren at amet ut ut erat ut, erat eos.
            .case-card__cta Read More
      