// TEXT
.text.mt-4.mb-9
  .container
    .row.mt-5(data-aos="fade-up")
      .col-12.col-md-8

        #development(data-aos='fade')
          h2 Development Services
          p
            | Welsh Power is a leading independent developer of flexible power plant, grid stability and battery projects. Our in-house development team have developed in excess of 1.5GW’s of flexible power plant, grid stability projects and battery storage projects.
          p
            | As an experienced developer we undertake the full development process from site identification, through land acquisition, connection management, design, consents, procurement, finance and due diligence.
          p
            | {Could then include separate headings like you had in the email using the icons prepared as per the email to}:
          ul
            li Grid Stability Projects – with a link to Rassau?
            li
              | Battery Projects – no link at the moment but maybe something to keep in mind to add for the future
            li Flexible Power – with link to case studies
            li No need for the owned power plant as we don’t own anymore
          p
            | If you are a funder, we can also partner with you to develop projects.  Further, we offer re-development services of any partly developed projects or re-purpose projects either for sale or funding, construction and operations.
          p
            | As a partner, we can help you to optimise the project design, secure suitable land rights, obtain all necessary consents, firm quotations for the construction works, negotiate EPC Contracts, obtain grid and/or gas connection offers, take the project through your funding process, including due diligence, negotiating power purchase agreements and securing contracts with National Grid. We also offer construction management {link} with in-house project managers and expert advisors, to build the project and operational management services with a 24/7 operations desk, highly experienced engineers {link} and a skilled optimisation team to manage the operations of the site.
          hr

        #operational(data-aos='fade')
          h2 Operational Asset Management
          p
            | Welsh Power can undertake the complete operational management of energy assets including maintenance, safety, regulatory management, trading and gas supply.
          p
            | We have established resources, processes and systems to easily and effectively provide operational asset management services and can provide the following:
          ul
            li 24/7 Operations Desk to provide Real Time Asset Monitoring
            li Managing and reporting on all aspects of the operations and maintenance.
            li Asset Performance Reporting
            li Asset Cost Reporting
            li Asset Inspection and Audits
            li Full Compliance Management
            li Route to Market Integration
            li CCTV Monitoring and Access Control
            li Procurement and coordination of all maintenance activities.
            li
              | Ensuring that the health and safety and environmental obligations of the asset are met.
            li
              | Managing all aspects of communications, facilities, utilities and building maintenance.
            li
              | Managing all other statutory obligations and licences necessary to operate the asset.
            li Full O&M/LTSA and Ancillary Contract Management
            li
              | Contractor Selection: We can help you select capable contractors for your assets.
            li Stakeholder Liaison
          hr
        #compliance(data-aos='fade')
          h2 Compliance & Regulatory Management
          p
            | Welsh Power can lead all aspects of an energy asset’s compliance and regulatory management including certain commercial matters such as revenue and cost reconciliation.  This would include:
          ul
            li
              | Compliance and metering:  REMIT (or equivalent), commercial and contractual metering obligations, assessments, administration, management, reporting and auditing.
            li
              | Policy liaison and lobbying: Represent the power plants interest on issues of policy with the UK Government, , BEIS, DEFRA, Environment Agency, OFGEM and similar bodies.
            li
              | Settlement: Develop and manage settlement validation mechanisms for all revenue due.
            li
              | Capacity Market:  Manage the complete capacity market process including prequalification, bidding, contracting , settlement and compliance.
            li Carbon Emissions
            li Insurance: Arrange and manage appropriate insurance covers.
          hr
        #commercial(data-aos='fade')
          h2 Commercial Management/ Optimisation
          p
            | Welsh Power can manage all aspects of your energy assets’ commercial management, including:
          ul
            li Strategy: Develop all commercial strategies and undertake business planning.
            li
              | Route to market:  Manage all aspects of power plants relationship with a chosen rout to market provider.
            li
              | National Grid:  Manage all aspects of the power plants relationship with National Grid.
            li Ancillary services: Manage all aspects of strategy, tendering and delivery.
            li
              | Commercial trading:  Manage all aspects including setting strategy, pricing, delivery, and settlement.
            li
              | Major contracting support:  Providing legal and commercial support to all contracting.
          p
            | With proprietary systems for reporting, plant monitoring, dispatch and trading and a highly experienced team we constantly seek to optimise asset performance in a competitive market.
          p
            strong Our experience:
          ul
            li
              | Operated in the flexibility space since 2008 and been at the forefront of the evolving commercial and regulatory developments in the flexibility market.
            li Instrumental in the development of the long term STOR service
            li Participated in the Capacity Market since its inception
            li Significant experience of operating assets on behalf of our customers
            li The largest STOR and DSO provider in the UK.
            li
              | First to successfully migrate STOR contracts to PAS platform using bespoke platform for dispatch, real time monitoring, declarations and settlement incorporating combined performance and financial reporting.
            li
              | Strong experience of optimising outside of principle wholesale markets: including Ancillary services, Reactive power, DSO flexibility services
          hr
        #corporate(data-aos='fade')
          h2 Corporate and Financial Management
          p
            | Welsh Power can undertake all aspects of your energy asset’s financial and corporate management including:
          ul
            li Accounting, bookkeeping and cash management
            li Management Reporting and Analysis
            li Tax support and tax returns
            li Audit support
            li Financial reporting and accounts preparation
            li Company secretarial services
