// TEXT
.text.mt-4.mb-9
  .container
    .row.mt-5(data-aos="fade-up")
      .col-12.col-md-8
        h1 Privacy Policy
        p Magnim exerrum eaque earum eatur arumqui ducimoluptat esecusandunt occatenet latus aped eossuntium int, es doluptatenis sed maximol oratur aut autem faccatinti ut utatiur. Quibus, imporepudit harum am que doluptinctes et endam, alis que nobis uta nis exero to etusciento beatibus anducit prae non cusaeperi sum qui am apic tem. Et ute pelessi magnimp erruptat quissit volor sequam fugiaerum endam quam exerepratur. Aquam voloribus nectati ssintor estorro volor aut mos solupta tquiaec toressit eumquis modissi minveli cillit accuptaquam, optatur?
        p As ut est, omnis ad exero tem estesec errumqu idelesed magnam ius dolor sit.
        br
        strong Optional Cross-head
        p Quibus, imporepudit harum am que doluptinctes et endam, alis que nobis uta nis exero to etusciento beatibus anducit prae non cusaeperi sum qui am apic tem. Et ute pelessi magnimp erruptat quissit volor sequam fugiaerum endam quam exerepratur. Aquam voloribus nectati ssintor estorro volor aut mos solupta tquiaec toressit eumquis modissi minveli cillit accuptaquam, optatur. As ut est, omnis ad exero tem estesec errumqu idelesed magnam ius dolor sit.
        br
        strong Success Rate
        p Quibus, imporepudit harum am que doluptinctes et endam, alis que nobis uta nis exero to etusciento beatibus anducit prae non cusaeperi sum qui am apic tem. Et ute pelessi magnimp erruptat quissit volor sequam fugiaerum endam quam exerepratur. Aquam voloribus nectati ssintor estorro volor aut mos solupta tquiaec toressit eumquis modissi minveli cillit accuptaquam, optatur. As ut est, omnis ad exero tem estesec errumqu idelesed magnam ius dolor sit.

