.accredition {
    &__container{
        p{
            max-width: 600px;
            line-height: 1.35;
        }
    }
    &__cards{
        &--card{
            background-color: #ccc;
            height: 150px;
        }
    }
}