.ourmission{
    margin: 180px 0 ;
    margin-bottom: 0px;
    @media only screen and (max-width: 767px){
        margin: 100px 0 ;
}
@media only screen and (max-width: 600px){
    margin: 50px 0 ;
    
}

    h2{
       // max-width: 200px;
    }
}