// buttons
button {
  -webkit-appearance: none;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.btn {
  display: inline-block;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: all $transitionSpeed $ease;
  &:focus,
  &:active {
    outline: none;
  }
  &--block {
    display: block;
    width: 100%;
  }
  &-example {    // please use paddings instead of line-height to control btn height
    background: $colorPrimary;
    font-size: 20px;
    padding: 15px 30px;
    color: white;
    transition: .25s $ease;
    transform-origin: center bottom;
    box-shadow: none;
    will-change: box-shadow, transform;
    &:hover {
      transform: scale(1.05) translateY(-5px);
      background: rgba($colorPrimary, .9);
      box-shadow: 0 15px 10px -15px rgba($fontColor, .4);
    }
  }

}
.learnMoreBtn{
  padding: 10px 5px;
  font-family: "Roboto", serif;
  border-radius: 0;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  min-width:190px;
  text-align: center;
  box-shadow: inset 0 0 0 0 $tfNavy;
  transition: .25s;
  &.bg-white-navy-hover{
    box-shadow: inset 0 0 0 0 #fff;
    transition: .25s;
    &:hover{
      box-shadow: inset 200px 0 0 0 #fff;
      color: $tfNavy !important;
    }
  }
  &:hover{
    box-shadow: inset 200px 0 0 0 $tfNavy;
    color: #FFF !important;
  }
  &.colormint{
    box-shadow: inset 0 0 0 0 $tfMint;
    &:hover{
      box-shadow: inset 200px 0 0 0 $tfMint;
      color: $tfNavy !important;
    }
  }
  &.our-serivceBtn{
    padding:7px 41px;
  }
  /*
  @media only screen and (max-width: 1500px) {
    padding: 10px 40px;
  }
 
  @media only screen and (max-width:991px) {
    padding: 10px 35px;
  }
  @media only screen and (max-width:600px) {
    padding: 10px 22px;
  }
  @media only screen and (max-width:475px) {
    padding: 9px 20px;
  }
  */

  }
.border-navy{
  border: 1px solid $tfNavy;
}
.submitBtn{
  background: none;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid $tfNavy;
  color: $tfNavy;
  padding: 9px 65px;
  margin-top: 25px;
  box-shadow: inset 0 0 0 0 $tfNavy;
  transition: .25s;
  &:hover{
    box-shadow: inset 200px 0 0 0 $tfNavy;
    color: #fff !important;
  }
}
.carousel-control-prev.customer-say-btn-carousel{
  .carousel-control-prev-icon{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='35' viewBox='0 0 20 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 31L17 17.5L4 4' stroke='%2312293E' stroke-width='5.5' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
     transform: rotate(180deg);
  }

}
.carousel-control-next.customer-say-btn-carousel{
  .carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='35' viewBox='0 0 20 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 31L17 17.5L4 4' stroke='%2312293E' stroke-width='5.5' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
     
  }

}