section(class="buildExpert pt-5")
 .container 
  div(class="buildExpert__container col-xl-12 col-11 mx-auto py-3")
   .row
    .col-lg-8.col-xl-7.col-12.mx-auto.m-xl-0
      .buildExpert__imgs.position-relative
       div(class="buildExpert__imgs--yellow d-flex justify-content-end col-12 ms-auto ms-md-0 col-md-12 ")
        div(class="buildExpert__imgs--yellow--firstimg position-relative w-100 d-flex")
         span(class="buildExpert__imgs--yellow--pseduelement")
         img(src="img/expert-1.png" class="position-relative img-fluid d-block  buildExpert__imgs--1")
       img(src="img/expert-2.png" class="col-8 col-md-12 position-relative  img-fluid buildExpert__imgs--2")
       
    .col-lg-4.col-xl-5.col-12.buildExpert__rightside
     .buildExpert__heading 
      h2(class="text-blue-48-bold lh-1") 
       | Built on Expert Technical Knowledge Since 1975
      p(class="text-navy-16 f-400 my-4") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel dui leo. Duis sit amet sapien condimentum, egestas nulla sodales, ultricies nisl. Morbi temet sapien condimentum, egestas nulla sodales, ultricies nisl. Morbi tempor odio por odio molestie, condimentum dui non, eleifend quam. Ut congue est sapien hendrerit at/
      a(class="learnMoreBtn border-navy  f-600 color-tfNavy" href="#") Get In Touch
 
    