section(class="hero-serivces page-h-offset bg-tf-grey py-5")
 div(class="hero-serivces__container container  py-4")
  .col-lg-10.mx-auto.col-11
   div(class="hero-serivces__container--title position-relative ")
    .row.align-items-center.justify-content-lg-center
     .wrapper(style="width:auto;padding:0" class="w-100-mobile")
       h2(class="text-blue-48-bold position-relative servicWord text-lg-end") Our Services 
     span(class="hero-serivces__verticalLine d-none p-0 d-lg-block" style="margin:0 40px")
     p(class="tfBluecolor  size-16 f-700 lh-s3 w-50 p-0 w-100-mobile"  ) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet sapien condimentum amet, egestas
     

 //.col-lg-6.d-flex.col-12
//.col-lg-1.d-flex.justify-content-center.d-lg-flex.d-none
//.col-lg-5.col-md-8.col-sm-9.col-12.m-lg-0.mt-2.mt-xl-0