// HERO

section.hero.page-h-offset.bg-tfMint.mb-xxl-5
  div(class="container")
   div(class="hero__content d-flex p-0 row pt-5 flex-column flex-lg-row  col-12 mx-auto pb-xl-0 pb-lg-5 ")
    div(class="col-lg-4 p-0 col-12  mx-lg-auto hero__content--left mb-2 mb-lg-0")
     .col-xl-8.col-md-9.col-12
      h1(class="hero__mainTitle color-tfNavy size-72 f-900 lh-1 roboto-font")
       |Compliance  &amp; Adaption Services
     div 
      p(class="text-navy-16 f-400 lh-s3 my-4 col-12 col-lg-9 col-xl-10 col-xxl-11")
       |Fire safety and property adaptations expert across the North West. We utilise the exceptional knowledge and skills of our passionate workforce to guarantee outstanding service
      <a class=" learnMoreBtn color-tfNavy roboto-font  border-navy" href="#">Learn More</a>
    div(class="p-0 col-lg-8 col-12  mx-lg-auto mt-3 mt-lg-0 d-flex flex-column mt-sm-5")
      img(src="https://res.cloudinary.com/threebit-training/image/upload/l_CL_Rectangle_28_jhjwsz/fl_layer_apply,g_south_east/l_CL_Frame_30_m0ygyd/fl_layer_apply,g_north_west/CL_BACK_qa8s4p", alt="")
    
 
//- section.hero.page-h-offset.bg-tfMint.mb-xxl-5
//-   div(class="container")
//-    div(class="hero__content d-flex p-0 row pt-5 flex-column flex-lg-row  col-12 mx-auto pb-xl-0 pb-lg-5 ")
//-     div(class="col-xxl-5 col-lg-5 p-0 col-11  mx-lg-auto hero__content--left mb-2 mb-lg-0")
//-      .col-xxl-6.col-xl-7.col-md-9.col-12
//-       h1(class="hero__mainTitle color-tfNavy size-72 f-900 lh-1 roboto-font")
//-        |Compliance  &amp; Adaption Services
//-      div 
//-       p(class="text-navy-16 f-400 lh-s3 my-4 col-12 col-lg-9 col-xl-10 col-xxl-11")
//-        |Fire safety and property adaptations expert across the North West. We utilise the exceptional knowledge and skills of our passionate workforce to guarantee outstanding service
//-       <a class=" learnMoreBtn color-tfNavy roboto-font  border-navy" href="#">Learn More</a>
//-     div(class="col-xxl-7 p-0 col-lg-7 col-11  mx-lg-auto mt-3 mt-lg-0 d-flex flex-column")
//-      div(class="hero__content--imgs col-md-10 p-0 col-lg-12 position-relative d-flex flex-column")
//-       .hero__content--imgs--firstImg.d-flex
//-        img(src="img/hero-1.png" class=" img-fluid hero__content--imgs--1")
//-        span.hero__content--imgs--firstImg--span.d-block
//-       div(class="")
//-        img(src="img/hero-2.png" class=" img-fluid d-block ms-auto position-relative hero__content--imgs--2") 
      
    
 
