section(class=`bg-navy mb-5 team-contact mt-5 ${className}`)
    .container.py-5 
        .row.justify-content-between.align-items-center.shrink-container
            .col-12.col-md-8.p-0
                h3(class="mb-md-1 mb-4") Contact our expert team for more information 
            .col-12.col-md-4.p-0
                a(class="contact-button" href="#") Get in Touch