section(class="hero-serivces page-h-offset bg-tf-grey py-lg-5 py-3")
 div(class="hero-serivces__container container  py-4")
  .col-lg-10.mx-auto.col-11
   div(class="hero-serivces__container--title position-relative ")
    .row.align-items-center.justify-content-lg-center
     .wrapper(style="width:auto;padding:0" class="w-100-mobile")
       h2(class="text-blue-48-bold position-relative servicWord text-lg-end lh-1") Service Example 
     span(class="hero-serivces__verticalLine d-none p-0 d-lg-block" style="margin:0 40px")
     p(class="tfBluecolor  size-16 f-700 lh-s3 w-50 p-0 w-100-mobile"  ) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet sapien condimentum amet, egestas