section(class="servicesDescription bg-tf-grey")
 .container 
  div(class="servicesDescription__container col-12")
   img(src="img/services-desc.png" class="img-fluid")
   div(class="mt-3 col-xl-10 mx-auto")
    p(class="text-navy-16-reg my-3") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel dui leo. Duis sit amet sapien condimentum, egestas nulla sodales, ultricies nisl. Morbi tempor odio molestie, condiment dui non, eleifend quam. Ut congue est felis, non consectetur sapien hendrerit at. Nulla efficitur leo eu lobortis egestas. Suspendisse id blandit elit. Fusce volutpat.
    p(class="text-navy-16-reg") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel dui leo. Duis sit amet sapien condimentum, egestas nulla sodales, ultricies nisl. Morbi tempor odio molestie, condiment dui non, eleifend quam. Ut congue est felis, non consectetur sapien hendrerit at. Nulla efficitur leo eu lobortis egestas. Suspendisse id blandit elit. Fusce volutpat.
  