section(class="missionFounded bg-tf-grey ")
 .container 
  div(class="missionFounded__container translateUp col-12 mx-auto")
   
   .row(class="position-relative")
    img(src="img/thmoas-jones.png" class="d-md-block d-none position-absolute end-0 bottom-0 p-0 w-auto")

    
    

    .col-12.col-md-6.p-0
     div(class="bg-tfBlue missionFounded__leftside")
      p(class="text-bold-36 f-600-mobile text-white lh-1-1 col-10 mx-auto missionFounded__leftside--p") Founded in 1975 by Thomas Francis Jones, our company has grown from humble beginnings, built on a foundation of expert technical knowledge and genuine care. We are driven by a passion for using our skills to benefit local communities.
    .col-12.col-md-6.p-0

     .col(style="height: 50%")
      div(class="bg-tfYllow py-5  d-flex flex-column justify-content-center" style="height: 100%")
       p(class="text-navy-16-reg col-md-9 col-10 mx-auto") For many years, we enjoyed a close relationship with a single client, delivering everything from responsive maintenance to planned investment programmes.  In 2016, we reflected on our company values and recognised an opportunity to do more to enhance the safety of our clients buildings by offering compliance services.
     .col(style="height: 50%")
      div(class="bg-navy py-5   d-flex flex-column justify-content-center" style="height: 100%")
       div(class="col-md-9 col-10 mx-auto")
        p(class="text-mint col-md-8 col-12 mb-3") Today, we are proud to partner with like-minded organisations who share our vision of enhancing building safety and raising standards across their property portfolios.
        a(href="#" class="colormint align-self-start learnMoreBtn tfMint border-mint mt-2 our-serivceBtn") Our Services