section(class="accredition py-5")
 .container 
  .accredition__container.shrink-container 
   h2(class="h2-heading mb-0") Our Accreditations
   p(class="text-navy my-3") Our commitment to excellence is backed by industry-leading accreditations, ensuring we meet the highest standards in health, safety, environmental and quality performance.
   .accredition__cards.mt-2
    .row 
     - for(let i=0;i<6;i++)
      .col-2
       div(class="accredition__cards--card")
  