section(class="ourmission")
 .container 
  .ourmission__container.col-lg-10.mx-auto.col-11
   .row 
    .col-12.col-md-5
     h2(class="text-blue-48-bold--1 col-lg-2 col-4") Our Mission 
    .col-12.col-md-7
     p(class="text-navy-16-reg mb-1") We actively work in partnership with our Clients to successfully deliver Passive Fire Safety and Adaptations programmes. We utilise the exceptional knowledge and skills of our passionate workforce to guarantee outstanding service. We provide real value for money for our Clients because we believe that working in partnership, doing the right thing and offering meaningful employment makes us the contractor and employer of choice.
     p(class="text-navy-16-reg") We know that our clients work in pressured environments, often dealing with challenging social situations, facing budgetary constraints and local and national political pressures. We work collaboratively to overcome these hurdles together.
  