- var imgs = ['img/work-1.png','img/work-2.png','img/work-3.png','img/work-4.png']
section(class="ourworks pt-5 overflow-x-hidden")
 
  .row 
   each val in imgs  
    .col-md-3.p-0.col-12
     img(src=`${val}` class="img-fluid w-100")