---
title: Article
---
extends shared/_layout
block content

  // TEAM BANNER
  .team.page-h-offset.mb-5.mt-5
    .container.pt-4
      .hero--band.mt-1(data-aos="fade-up")
        span &nbsp; 


  //- include ../components/hero/_article.pug
  include ../components/text/_article.pug
  //- include ../components/numbers/_article.pug
  //- include ../components/testimonials/_article.pug
  //- include ../components/cases/_more.pug
