section.intro(data-aos="fade")
  .container.mt-5.mb-5 
    .row
      .col-12.col-md-8.offset-md-2 
        
        img.col-4.col-md-4.img-fluid.d-block.mx-auto.mb-1(src="img/carbon-zero.png", alt="Carbon Neutral")
        p.text-center.fs-2
          | We are committed to supporting the UK ambition of net zero greenhouse gas emissions by 2050. We are at the forefront of this transition to a greener electricity system with our state-of-the-art grid stability projects and battery storage projects.
                
        p.text-center.mt-2 
          a.btn.btn-success.shadow-lg(type='button' href='/welsh_power_factsheet_2021.pdf')
            +svgMono('pdf-fill')
            | Download Factsheet PDF (1.4mb)
            +svgMono('download')
    


  .container.mt-5.mb-5
    .row
      .col-12.col-md-8.mx-auto
        img.col-6.col-sm-6.col-md-5.img-fluid.d-block.mx-auto.mb-1(src='http://res.cloudinary.com/welshpower/image/upload/q_auto,f_auto/assets/images/banner_image/1633532347_11948_carbonnetzero_final_650' alt='Carbon Neutral')
        p.text-center.fs-2
          | We are committed to supporting the UK ambition of net zero greenhouse gas emissions by 2050. We are at the forefront of this transition to a greener electricity system with our state-of-the-art grid stability projects and battery storage projects.
        p.text-center.mt-2
          a(href='/welsh_power_factsheet_2021.pdf' target='_blank')
            button.btn.btn-success.shadow-lg(type='button')
              svg.ico.ico-mono-pdf-fill
                use(xlink:href='img/sprite-mono.svg#ico-mono-pdf-fill')
              | Download Factsheet PDF
              svg.ico.ico-mono-download
                use(xlink:href='img/sprite-mono.svg#ico-mono-download')
