- var quickLinks = ['Join Us','Case Studies','Our Services','Mission & Values']
- var important = ['Terms & Conditions','Privacy Notice & Policy','Accreditations','Contact Us']
mixin links(list,txt)
 .col-12.col-md-6.col-lg-3.mb-1.nav-links
     h3(class="link--title")=txt
     ul(class="list-group")
      each val,index in list
       li
        a(href="#")=val

section(class="footer pt-2 mb-3" data-aos="fade-up")
     .container 
      .col-lg-10.mx-auto.col-12
          .div(class="row footer__container justify-content-between")
               .col-12.col-lg-4.mb-5.social 
                    a(hre="#")
                         img(class="img-fluid" src="img/tf_logo.png" alt='TF Jones Logo')
                    div(class="mt-1")
                         h3 Stay Connected 
                         div(class="d-flex")
                              a(href="#" class="d-block instagram")

                                   svg(height="25", viewBox="0 0 25 25", width="25", xmlns="http://www.w3.org/2000/svg", xlink="http://www.w3.org/1999/xlink")
                                        clipPath#a
                                             path(d="m0 0h25v25h-25z")
                                        g(clip-path="url(#a)")
                                           path(d="m12.5002 9.83081c-1.4706 0-2.66915 1.19669-2.66915 2.66909 0 1.4725 1.19665 2.6691 2.66915 2.6691 1.4724 0 2.6691-1.1966 2.6691-2.6691 0-1.4724-1.1967-2.66909-2.6691-2.66909z")
                                           path(d="m16.1692 5.8291h-7.33826c-1.65625 0-3.00184 1.34743-3.00184 3.00184v7.33826c0 1.6562 1.34743 3.0018 3.00184 3.0018h7.33826c1.6562 0 3.0018-1.3474 3.0018-3.0018v-7.33826c0-1.65625-1.3474-3.00184-3.0018-3.00184zm-3.6691 10.6746c-2.2078 0-4.00372-1.7959-4.00372-4.0036 0-2.2078 1.79592-4.00372 4.00372-4.00372 2.2077 0 4.0036 1.79592 4.0036 4.00372 0 2.2077-1.7959 4.0036-4.0036 4.0036zm4.2536-7.34004c-.5073 0-.9172-.40993-.9172-.91728s.4099-.91728.9172-.91728c.5074 0 .9173.40993.9173.91728s-.4099.91728-.9173.91728z")
                                           path(d="m0 0v25h25v-25zm20.5055 16.1691c0 2.3916-1.9448 4.3364-4.3364 4.3364h-7.33822c-2.39154 0-4.33639-1.9448-4.33639-4.3364v-7.33822c0-2.39154 1.94485-4.33639 4.33639-4.33639h7.33822c2.3916 0 4.3364 1.94485 4.3364 4.33639z")

                              a(href="#" class="d-block ms-1 linkedin")
                                  svg(height="25", viewBox="0 0 25 25", width="25", xmlns="http://www.w3.org/2000/svg")
                                   path(d="m0 0v25h25v-25zm8.26103 20.1618h-3.18382v-10.23533h3.18382zm-1.59191-11.63423c-1.02206 0-1.84559-.8272-1.84559-1.84559 0-1.01838.82353-1.84558 1.84559-1.84558s1.84375.8272 1.84375 1.84558c0 1.01839-.82537 1.84559-1.84375 1.84559zm10.32538 11.63423v-4.978c0-1.1875-.0202-2.7132-1.6526-2.7132-1.6323 0-1.9081 1.2923-1.9081 2.6287v5.0625h-3.1783v-10.23533h3.0496v1.39893h.0442c.4246-.8052 1.4614-1.65261 3.011-1.65261 3.2206 0 3.8162 2.11951 3.8162 4.87681v5.614h-3.1802z")
               +links(quickLinks,'Quick Links')
               +links(important,'Important')             