section.py-5.news-list-block
    .container
        .row
            .col-12.col-lg-6.order-2.order-lg-1
                h3 News and Careers
                    a.btn.btn-outline-success.btn-sm(href="#") LOAD MORE 
                p.col-10
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                    | egestas facilisis sem vel feugiat. Nulla odio sem, commodo at egestas
                    | non, lacinia suscipit erat.
                .pb-content
                    .pb
                        .section1
                            a(href='#')
                                .row.mx-auto.w-100.align-items-top
                                    .col-12.col-sm-12.col-lg-3.p-0
                                        .ratio.ratio-16x9
                                            img.img-fluid.object-fit-cover(src='https://res.cloudinary.com/welshpower/image/upload/w_500,ar_1.30,c_fill,g_auto,f_auto/v1669224547/assets/images/feature_image/1669224546_welsh_power_thb_wins_national_grid_phase_3.jpg', alt='')
                                    .col-lg-9.col-md-8.col-sm-12.col-12.mt-md-1
                                        .section1-heading.newscat Healthy Planet
                                        h4 Welsh Power wins major contract
                                        .section1-paragraph
                                            p.fw-bold.lh-0
                                                | Two contracts awarded in Phase 3 of National Grid ESO’s Stability Pathfinder programme
                        .section1
                            a(href='#')
                                .row.mx-auto.w-100.align-items-top
                                    .col-12.col-sm-12.col-lg-3.p-0
                                        .ratio.ratio-16x9
                                            img.img-fluid.object-fit-cover(src='https://res.cloudinary.com/welshpower/image/upload/w_500,ar_1.30,c_fill,g_auto,f_auto/v1669224547/assets/images/feature_image/1669224546_welsh_power_thb_wins_national_grid_phase_3.jpg', alt='')
                                    .col-lg-9.col-md-8.col-sm-12.col-12.mt-md-1
                                        .section1-heading.newscat Healthy Planet
                                        h4 Welsh Power wins major contract
                                        .section1-paragraph
                                            p.fw-bold.lh-0
                                                | Two contracts awarded in Phase 3 of National Grid ESO’s Stability Pathfinder programme                            
                        .section1
                            a(href='#')
                                .row.mx-auto.w-100.align-items-top
                                    .col-12.col-sm-12.col-lg-3.p-0
                                        .ratio.ratio-16x9
                                            img.img-fluid.object-fit-cover(src='https://res.cloudinary.com/welshpower/image/upload/w_500,ar_1.30,c_fill,g_auto,f_auto/v1669224547/assets/images/feature_image/1669224546_welsh_power_thb_wins_national_grid_phase_3.jpg', alt='')
                                    .col-lg-9.col-md-8.col-sm-12.col-12.mt-md-1
                                        .section1-heading.newscat Healthy Planet
                                        h4 Welsh Power wins major contract
                                        .section1-paragraph
                                            p.fw-bold.lh-0
                                                | Two contracts awarded in Phase 3 of National Grid ESO’s Stability Pathfinder programme                                  
            .col-12.col-lg-6.order-1.order-lg-2.right-col
                .wrapper.position-relative
                    .ratio.ratio-1x1.img-block
                        img.img-fluid.rounded-4.contain.object-fit-cover(src="img/WelshPower_News_develop.png")
                        //- img.img-fluid.rounded.contain.object-fit-cover(src='/img/09-30-24.jpg', alt='')
                    .bg-grey-block.ratio.ratio-1x1.z-n1 &nbsp;
