section.gray.news-reports.mt-5
    .container.pt-5.pb-4
     .row
      .col-12 
         div.title-strip.green-dark
          span.pb-2.d-block
          h2.mb-1 News and reports
            a.btn.btn-outline-success.btn-sm.float-end(href="#") View All

      .col-12.col-sm-6.col-md-4
        // case card
        a(href="#").news-card

          .case-card__image.position-relative
            img(src="img/welshpower-rassau-ebbwvale-ngeso-stability-project_TH.png" srcset="img/welshpower-rassau-ebbwvale-ngeso-stability-project_TH.png 2x")
            p.newscat.position-absolute.top-0 News
          .case-card__content
            .case-card__name <strong>Rassau project takes shape</strong> <br/>Development continues of our major grid stability project at Ebbw Vale.
            .case-card__cta Read More

      .col-12.col-sm-6.col-md-4
        // case card
        a(href="#").news-card
          .case-card__image
            img(src="img/welshpower-siemensenergy-rassau_TH.png" srcset="img/welshpower-siemensenergy-rassau_TH.png 2x")
          .case-card__content
            .case-card__name <strong>Rassau: Siemens Energy</strong> <br/>Siemens Energy’s rotating grid stabilisation technology is being installed in Wales.
            .case-card__cta Read More

      .col-12.col-sm-6.col-md-4
        // case card
        a(href="#").news-card
          .case-card__image
            img(src="img/welshpower_news link_nationalgrideso_TH.png" srcset="img/welshpower_news link_nationalgrideso_TH.png 2x")
          .case-card__content
            .case-card__name <strong>Rassau: National Grid ESO</strong> <br/>Welsh Power facility will play a key role in the ESO Stability pathfinder.
            .case-card__cta Read More
