.ico-mono-download {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-envelope-open {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-envelope {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-linkedin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-pdf-fill {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-telephone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
