section.content-casesatudy
 .container 
  .col-12.content-casesatudy__container.mx-auto
   div(class=" mx-auto col-12  col-lg-11")
    .pb-5.content-casesatudy__heading.col-11.col-lg-12.mx-auto
     h2(class="text-blue-48-bold mb-30px pt-3") North West Housing Assoc
     .row.align-items-center.flex-wrap
      .col-12.col-lg-6.mb-2.mb-lg-0
       h3(class="text-blue-16-bold mb-0") Passive Fire Safety 
       p(class="text-navy-16-reg") Wigan, Lancashire
      .col-12.col-lg-6.d-flex.justify-content-lg-end.mt-2.mt-lg-0.flex-wrap
       a(href="#" class="content-casesatudy__heading--cta learnMoreBtn color-tfNavy  border-navy  me-lg-3 ") Fire Safety Services
       a(href="#" class="content-casesatudy__heading--cta learnMoreBtn color-tfNavy  border-navy ms-md-3 ms-lg-0  mt-3 mt-lg-0") More Case Studies     
    .col-11.mx-auto.col-lg-12
     p(class="text-navy-16-bold pt-3") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel dui leo. Duis sit amet sapien condimentum, egestas nulla sodales, ultricies nisl. Morbi tempor odio molestie, condiment dui non.
     p.text-navy-16-reg.pt-3.pb-5.border-bottom-blue Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque aliquam sapien a viverra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur pharetra ipsum diam, ac volutpat metus mollis eu. Nulla quis quam in elit finibus venenatis a ac turpis. Suspendisse pretium bibendum blandit. Nam at congue ipsum. Vestibulum sed eleifend mauris. In accumsan risus efficitur, rhoncus sapien id, consequat nibh. Aenean vitae quam orci. 
    .col-11.mx-auto.col-lg-12
     include ./_employee.pug
    
    include ./_projectApproach.pug
    include ./_keyTakeaway.pug
 