.content-casesatudy__employee.py-5.border-bottom-blue.position-relative
 .row 
  .col-12.col-lg-6
   div(class="content-casesatudy__employee--borderYellow position-relative")
    img(src="img/employee-1.png" class="w-100")
  .col-11.mx-auto.mt-4.m-lg-0.col-lg-6.d-flex.flex-column.justify-content-between
   p(class="text-navy-medium-28 mb-1 lh-s3") “Lorem ipsum dolor sit amet, consectutur elit. Cras vel di leo, sapien a viverra class aptent taciti torquent nulla quis quam in elit finibus turpis suspendisse risus efficitur, aenean vitae quam orci.
   div(class="d-flex align-items-center")
    div 
     h3(class="text-navy-28-bold mb-0") Firstname Surname
     h3(class="text-navy-medium-28 mb-0") Company Name , Date 
 img(src="img/qoute.png" class="position-absolute content-casesatudy__employee--flyimg")
