div(class="key-takeAway bg-tfMint py-5")
 .col-12.mx-auto.ps-3.ps-md-0
  .row.m-0
   .col-lg-4.offset-lg-1.col-11.offset-1.mx-lg-auto.m-0
    div.col-md-8.col-12
     h2(class="text-blue-48-bold") Key Takeaway 
   .col-lg-6.col-12.mx-lg-auto.mx-0
    p(class="text-navy-16-reg") Aliquam elementum magna eu pharetra fringilla. Cras at lorem id nisi euismod consectetur non eu neque. Nullam luctus, felis vel dignissim tempus, libero risus pellentesque nisi, quis vehicula elit arcu massa. In sit amet ex condimentum.
