- var imgs = ['img/work-1.png','img/work-2.png','img/work-3.png']
section(class="ourworks py-5 overflow-x-hidden")
  .row 
   each val in imgs  
    .col-md-4.p-0.col-12
     img(src=`${val}` class="img-fluid w-100")
.col-11.mx-auto.col-lg-12
    h3(class="text-navy-28-bold mb-1 mt-2 pb-3 ") Successful Outcomes
    p(class="text-navy-16-reg mb-2 ") Aliquam hendrerit tellus a neque venenatis, eget blandit nibh elementum. Etiam fringilla sem consectetur pretium  ultricies. Morbi venenatis aliquet ullamcorper
    p(class="text-navy-16-reg mb-2 ")  Aliquam elementum magna eu pharetra fringilla. Cras at lorem id nisi euismod consectetur non eu neque. Nullam luctus, felis vel dignissim tempus, libero risus pellentesque nisi, quis vehicula elit arcu eget massa. In sit amet ex condimentum, malesuada lacus non, auctor nisi. Integer vulputate ultrices turpis, eu convallis nisl cursus at. Integer diam augue, bibendum et commodo ac, ultricies at ex. Sed ullamcorper eget mauris sit amet posuere.
    p(class="text-navy-16-reg mb-2 " ) Aliquam hendrerit tellus a neque venenatis, eget blandit nibh elementum. Etiam fringilla sem consectetur pretium ultricies. Morbi venenatis aliquet ullamcorper
