section(class="get-in-touch-form")
 .container 
  
  .get-in-touch-form__container.col-lg-10.col-12.mx-auto
   h2(class="text-blue-48-bold reach-us__haveAquestion mb-3") Have a Question?
   form.get-in-touch-form__form
    .mb-3
     input#exampleInputEmail1.form-control.styleFormInput(type='text' aria-describedby='emailHelp' placeholder="Full Name")
    .mb-3
     input#exampleInputEmail1.form-control.styleFormInput(type='email' aria-describedby='emailHelp' placeholder="Email")
    .mb-3
     input#exampleInputEmail1.form-control.styleFormInput(type='text' aria-describedby='emailHelp' placeholder="Phone")
    .row 
     .col-lg-6.col-12
      .mb-3
        input#exampleInputEmail1.form-control.styleFormInput(type='text' aria-describedby='emailHelp' placeholder="Company Name (if applicable)")
     .col-lg-6.col-12
      .mb-3
        input#exampleInputEmail1.form-control.styleFormInput(type='text' aria-describedby='emailHelp' placeholder="Position  (if applicable)")
    .mb-2
        textarea#exampleInputEmail1.form-control.styleFormInput(type='text' aria-describedby='emailHelp' placeholder="Message" rows="10")
    .col 
     button(type='submit' class="submitBtn") Submit
