section(class="get-in-touch page-h-offset bg-tf-grey")
 .container.h-100
  .get-in-touch__container.h-100.col-11.mx-auto.col-lg-10
   div(class=`d-flex align-items-center justify-content-between h-100`)
    div(class="hero-serivces__container--title position-relative w-100 h-100")
      h2(class="text-blue-48-bold position-relative serviceWord text-center centerElement mb-0") Get in Touch
    
   