section(class="reach-us") 
 .container 
  .reach-us__container.col-lg-6.mx-auto.col-12.translateUp-100
   .row
    .col-lg-6.col-12.mx-auto.bg-tfBlue.py-5.ps-lg-5.ps-3
     h2(class="text-white-semi-bold-28  reach-us__heading  position-relative my-3") Our Address
     .col-6
      p(class="text-16-bold text-white") 9 Ketterer Court, Jackson Street, St Helens, Merseyside WA9 3AH
    .col-lg-6.col-12.mx-auto.bg-navy.py-5.ps-lg-5.ps-3
     h2(class="text-white-semi-bold-28  tfMint reach-us__heading bg-after-mint position-relative my-3") Call us 
     p(class="text-semi-bold-28 tfMint") 01744616611
  
  //p(class="text-navy") Fill out our form with any questions that you may have, or simply drop us an email or give us a call.
   