section.bg-navy.mb-5.team-contact.mt-md-5
    .container.py-5 
        .row.justify-content-between.align-items-center.shrink-container.flex-column.flex-lg-row
            .col-12.col-lg-8.p-0.text-center.mb-3.mb-lg-0.text-lg-start
                h3(class="mb-md-1 text-center") Contact our expert team for more information 
            .col-12.col-lg-4.p-0.text-center.text-lg-start
                a(class="contact-button f-700 size-16" href="#") Get in Touch





