section(class="frequentlyAsking pb-5")
 .container.pb-5
  .frequentlyAsking__container.col-lg-10.mx-auto.col-12
   div 
    h3(class="text-navy-semi-bold-28 frequentlyAsking__h3 mb-1") What advice would you give to 21 year old you?
    h4(class="text-navy-16-bold pt-3") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel dui leo. Duis sit amet sapien condimentum, egestas nulla sodales, ultricies nisl. Morbi tempor odio molestie, condiment dui non.
    p(class="text-navy-16-reg py-3") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque aliquam sapien a viverra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur pharetra ipsum diam, ac volutpat metus mollis eu. Nulla quis quam in elit finibus venenatis a ac turpis. Suspendisse pretium bibendum blandit. Nam at congue ipsum. Vestibulum sed eleifend mauris. In accumsan risus efficitur, rhoncus sapien id, consequat nibh. Aenean vitae quam orci. 
    h3(class="text-navy-semi-bold-28 mb-1") What one word best describes TF Jones?
    p(class="text-navy-16-reg my-4") Curabitur pharetra ipsum diam, ac <b>volutpat</b> metus mollis eu.
    h3(class="text-navy-semi-bold-28 mb-1") What are some of the ways the company celebrates success?
    p(class="text-navy-16-reg") Curabitur pharetra ipsum diam, ac volutpat metus mollis eu. Nulla quis quam in elit finibus venenatis a ac turpis. Suspendisse pretium bibendum blandit. Nam at congue ipsum. Vestibulum sed eleifend mauris. In accumsan risus efficitur, rhoncus sapien id, consequat nibh. Aenean vitae quam orci. 
     