section(class="heroTeamBio page-h-offset  bg-tfBlue position-relative")
 .container 
  .heroTeamBio__container.py-2
   .heroTeamBio__intro.col-lg-10.mx-auto.col-12
    .row.align-items-lg-center
     .col-lg-5.col-md-5.d-none.d-sm-flex.pt-sm-3
      div 
       h3(class="text-white size-72 f-600-mobile f-900 mb-0") Dan Jones 
       h4(class="text-white size-38 f-600-mobile f-900 my-2") Operations Director 
       a(href="#" class="d-flex align-items-center mt-3")
        span(class="volume-30 rounded-3px d-inline-block position-relative bg-tfYllow") 
         svg(class="centerElement" xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewbox='0 0 24 24')
          path(fill='#12293E' d='M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002M7 8.48H3V21h4zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91z')
        p(class="size-20 tfYellow ms-3") xxxxx 
     .col-lg-5.offset-lg-2.heroTeamBio__intro--img.col-md-6.col-sm-7.col-9.ms-auto.ms-md-0
      div(class="  heroTeamBio__img")
       div(class="left-border-yellow ps-3 mt-2 ")
        img(src="img/op-director.png" class="position-relative z-3 w-84 w-sm-100")
section(class="d-block d-sm-none mt-5 pt-5 mb-5")
 .container 
  .row 
   .col-12 
    h3(class="size-30-bold-navy mb-1") Dan Jones 
    h4(class="size-24-bold-navy mb-4") Operations Director 
    .col-12 
     a(href="#" class="d-flex align-items-center ")
      span(class="icon-envelop")
      p(class="text-navy-20-reg ms-3") dan.jones@tfjones.com
     a(href="#" class="d-flex align-items-center my-3" )
      span(class="icon-phone")
      p(class="text-navy-20-reg ms-3") 01744 616 611
     a(href='#' class="d-flex align-items-center ")
      span.volume-30.rounded-3px.d-inline-block.position-relative.bg-navy
       svg.centerElement(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewbox='0 0 24 24')
        path(fill='#fff' d='M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002M7 8.48H3V21h4zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91z')
      p(class="text-navy-20-reg ms-3") xxxxx
